.about-us-page {
	background-color: #faf8f1;
	min-height: 100vh;
}

.about-us-title {
	position: relative;
	width: 100%;
	color: rgba(0, 0, 0, 1);
	font-size: 3em;
	padding: 5vh 5vw 5vh;
	font-family: 'Anton', sans-serif;
	text-align: center;
}

.about-us-description {
	color: rgba(63, 63, 63, 1);
	font-family: 'Anton', sans-serif;
	font-size: 1em;
	padding: 0 10vw 0;
	text-align: left;
}

.team-section h2 {
	padding: 60px 5vw 25px;
	color: #2e71B8;
	font-family: 'Anton', sans-serif;
	font-size: 2.5em;
	text-align: left;
}

@media only screen and (max-width: 1280px) {
	.about-us-description {
		font-size: 0.85em;
		padding: 0 2em 0 2em;
	}
}