.entry {
	padding: 0vh 20vw 0vh;
}

.entry img {
	width: 240px;
	height: 300px;
}

.staff-name {
	font-size: 2em;
	font-family: 'Anton', sans-serif;
	color: #006ba1;
    text-align: left;
}

.staff-description {
	text-align: left;
}

.staff-info {
	display: flex;
	flex-direction: column;
}

.staff-position {
	font-weight: bold;
	color: #2D70B4;
}

.staff-institution {

}

.staff-education {

}