.software-container {
    background-color: #faf8f1;
    display:inline-block;
    min-height: 75vh;
    width: 100vw;
    overflow: hidden;
}

.software-container > h1 {
    color: black;
    font-size: 3rem;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5vh 8vh 5vh;
}

.software-container > p {
    padding: 0 8vw 0 8vw;
    font-size: 1rem;
}

.software-container > .button-group {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

.software-logo-color {
    fill: #ffffff;
}


.software-scroll-link {
    color: #007bff;
}
.software-scroll-link:hover {
    color: #0056b3;
}
